<ul class="navbar-nav">
    <li class="nav-item logined">
        <a class="nav-link text-dark" id="loginUsername" title="Manage" href="#">Hello User</a>
    </li>
    <li class="nav-item logined">
        <form class="form-inline" id="logout">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>

    <li class="nav-item notLogin">
        <a class="nav-link text-dark" href="/Authen/Register">Register</a>
    </li>
    <li class="nav-item notLogin">
        <a class="nav-link text-dark" href="/Authen/Login">Login</a>
    </li>

</ul>