<li id="management" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

        <li>
            <a class="dropdown-item" href="/Admin/CategoryManagement/Index">Category</a>
        </li>
        <li>
            <a class="dropdown-item" href="/Admin/PostManagement/Index">Post</a>
        </li>
        <li>
            <a class="dropdown-item" href="/Admin/ReportManagement/Index">Report</a>
        </li>
        <li>
            <a class="dropdown-item" href="/Admin/ImageCategoryManagement/Index">Image Category</a>
        </li>
        <li>
            <a class="dropdown-item" href="/Admin/ImageManagement/Index">Image</a>
        </li>
    </ul>
</li>