@{
    ViewData["Title"] = "Category Management";
}
<div id="main" class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-outline-warning btn-icon-split" data-bs-toggle="modal" data-bs-target="#createModal">
            <span class="text">Create</span>
            </button>
        </div>
        <div class="col-md-6">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" placeholder="Search..." id="searchString" aria-describedby="basic-addon1">
                    <button id="searchBtn" class="btn btn-primary">Search</button>
                    <a href="/Admin/CategoryManagement/Index" class="btn btn-light">Clear</a>
                </div>
        </div>
    </div>
    
    <div id="tableBlock">
    </div>
    
</div>
<nav aria-label="Page navigation example">
        <ul id="paging" class="pagination">
        </ul>
</nav>

<!-- createModal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="create-form" class="text-center" method="post">
                <div id="error" class="text-danger col-md-12"></div>
                <div class="form-floating mb-3 mt-3">
                    <input name="Title" class="form-control" />
                    <label for="Title" class="form-label">Title</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input name="Description" class="form-control" />
                    <label for="Description" class="form-label">Description</label>
                </div>
                <div class="modal-footer">
                    <button id="settings-button" type="submit" class="btn btn-success">Create</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="edit-form" class="text-center" method="post">
                <div id="error" class="text-danger col-md-12"></div>
                <div class="form-floating mb-3 mt-3">
                    <input name="Title" class="form-control" />
                    <label for="Title" class="form-label">Title</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input name="Description" class="form-control" />
                    <label for="Description" class="form-label">Description</label>
                </div>
                <input id="id" type="hidden" value=""/>
                <div class="modal-footer">
                    <button id="settings-button" type="submit" class="btn btn-success">Update</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- deleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="delete-form" class="text-center" method="post">
                <div id="error" class="text-danger col-md-12"></div>
                <div class="text-center">
                    <span class="fs-5">Are you sure to delete this category?</span>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input name="Title" class="form-control" />
                    <label for="Title" class="form-label">Title</label>
                </div>
                <input id="id" type="hidden" value=""/>
                <div class="modal-footer">
                    <button id="settings-button" type="submit" class="btn btn-danger">Delete</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script type="module" src="~/js/categoryManagement.js"></script>
    <script type="text/javascript">
      const module = {}
    </script>
    <script type="module">
        import {changePage} from '../../js/categoryManagement.js'
        module.changePage = changePage
    </script>
}