@{
    ViewData["Title"] = "Report Management";
}

<div class="row">
    <div id="topRate" class="col-md-6">
    <h5 class="text-center">Top Rate</h5>
    </div>
    <div id="topCategories" class="col-md-6">
    <h5 class="text-center">Top Category</h5>
    </div>
</div>

@section scripts{
    <script type="module" src="~/js/reportManagement.js"></script>
}